@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* ---------------------------variables--------------------------- */
:root {
  --color-main: #212121;
  --color-alt: #757575;
  --color-accent: #2196f3;
  --color-bg-alt: #2f303a;
  --color-bg-sect: #f5f4fa;
}

/* ---------------------------global---------------------------- */

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-alt);
  font-size: 14px;
  line-height: calc(24 / 14);
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
address {
  font-style: normal;
}

/* ---------------------------header--------------------------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #000000;
}
.logo span {
  color: var(--color-accent);
}
.nav-link {
  color: var(--color-main);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-accent);
}

.cont-link {
  color: var(--color-alt);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.cont-link:hover,
.cont-link:focus {
  color: var(--color-accent);
}

/* ---------------------------main--------------------------- */
.hero {
  background-color: var(--color-bg-alt);
}
.hero-text {
  color: #ffffff;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
}
.hero .button {
  font-family: inherit;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--color-accent);
  cursor: pointer;
  font-weight: 700;
}
.hero .button:hover,
.hero .button:focus,
.hero .button:active {
  background-color: #188ce8;
}

/* .features {} */

.features-title {
  color: var(--color-main);
  font-size: 14px;
  line-height: calc(24 / 14);
  font-weight: 700;
  text-transform: uppercase;
}
/* .features-text {} */

/* .about {} */
.team {
  background-color: var(--color-bg-sect);
}
.team-card {
  background-color: #ffffff;
}
.about-title {
  color: var(--color-main);
  font-size: 36px;
  line-height: calc(24 / 36);
  font-weight: 700;
}
.team .title {
  color: var(--color-main);
  font-size: 36px;
  line-height: calc(24 / 36);
}
.team .member-name {
  color: var(--color-main);
  font-size: 16px;
  line-height: calc(24 / 16);
  font-weight: 500;
}
.team .member-role {
  font-size: 16px;
  line-height: calc(24 / 16);
}

/* ---------------------------main portfolio--------------------------- */

.port-menu .button {
  font-family: inherit;
  color: var(--color-main);
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.port-menu .button:hover,
.port-menu .button:focus {
  color: #ffffff;
  background-color: var(--color-accent);
}

.card-title {
  color: var(--color-main);
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  font-weight: 700;
}
.card-text {
  color: var(--color-alt);
  font-size: 16px;
  line-height: calc(30 / 16);
}

/* ---------------------------footer--------------------------- */

footer {
  background-color: var(--color-bg-alt);
}
footer .logo {
  color: white;
}
.map-link {
  color: #ffffff;
}
.map-link:hover,
.map-link:focus {
  color: var(--color-accent);
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-accent);
}
